@import "tailwindcss";

@theme {
  --color-primary: #fffaea;
  --color-secondary: #112E81;
  --color-accent: #C4E2F5;
  --color-hover: #232F72;
  --color-background: #fffaea;
  --color-text: #2B2A2A;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.router-link-active {
  color: var(--color-primary);
  font-weight: 600;
}
